---
import SponsorCard from "../components/SponsorCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sponsor*innen | Nepo Abitur 2025">
    <div class="w-[90%] ml-[5%] md:w-2/3 md:ml-[16.6%]">
        <SponsorCard
            title="Werden sie jetzt Sponsor*in!"
            img="/nepo-logo.png"
            btnText="Jetzt Sponsor*in werden!"
            url="/kontakt"
        >
            Jetzt Sponsor*in werden und uns unterstützen! Das gesponserte Geld
            wird für die Finanzierung der Abiturzeitung und bei Überschuss für
            die Abiturfeier verwendet. <br />
            Sponsor*innen erhalten je nach Betrag bis zu einer Doppelseite in der
            Abiturzeitung und einen Eintrag auf dieser Seite.
        </SponsorCard>

        <SponsorCard
            title="SHOPMACHER eCommerce GmbH & Co. KG"
            img=""
            btnText="Website besuchen"
            url="https://www.shopmacher.de/"
        >
            Die SHOPMACHER eCommerce GmbH & Co. KG ist ein Unternehmen aus
            Gescher, das sich auf die Entwicklung von Onlineshops spezialisiert
            hat. Sie unterstützen uns bei der Finanzierung der Abiturzeitung.
        </SponsorCard>
    </div>
</Layout>
