<div class="navbar bg-base-100">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h8m-8 6h16"></path>
                </svg>
            </div>
            <ul
                tabindex="0"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
            >
                <li><a href="/kontakt" class="btn btn-ghost">Kontakt</a></li>
                <li>
                    <a href="/zitate" class="btn btn-outline">Zitate</a>
                </li>
                <li>
                    <a href="/sponsoren" class="btn btn-outline btn-primary"
                        >Sponsor*innen</a
                    >
                </li>
            </ul>
        </div>
        <a class="btn btn-ghost text-xl" href="/">Nepomucenum Abitur 2025</a>
    </div>

    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 gap-1">
            <li>
                <div class="indicator">
                    <a href="/nep_o_mat" class="btn btn-wide btn-primary"
                        >Nep-O-Mat</a
                    >
                </div>
            </li>
        </ul>
    </div>

    <div class="navbar-end hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li><a href="/kontakt" class="btn btn-ghost">Kontakt</a></li>
            <li>
                <a href="/sponsoren" class="btn btn-outline btn-primary"
                    >Sponsor*innen</a
                >
            </li>
        </ul>
    </div>
</div>
