<div
    class="w-full bg-gradient-to-r from-primary to-secondary text-secondary-content p-2 flex flex-row justify-center items-center gap-4"
>
    <div class="text-center text-4xl">
        Danke an unsere <a href="/sponsoren" class="link">Sponsoren</a>!
    </div>
</div>
